

#welcomeback{
    text-align: center;
    border-bottom: 2px solid black;
}

#friends_list {
    margin: auto;
    width:30%;
    height: 500px;
    border: 2px solid black;
}

#friends_drop_down {
   
    width:200px;
    
    border-right: 2px solid gray;
}

#add_friend {
    position: absolute;
    left: 125px;
    text-decoration: none;
    
    border: 1px solid black;
    padding: 1px;
}


#form {
    position: absolute;
    left: 700px;
}


#newmessagearea {
    
    position: absolute;
    top: 155px;
    left: 950px;
    width: 200px;
    height: 260px;
    border: 1px solid black; 
    overflow: auto;
    text-align: center;
}

h4 {
    position: absolute;
    top: -10px;
    left: 20px;
    border-bottom: 1px dotted black;
    text-align: center;
}

#unread_friend_list {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 20px;
    left: 20px;
    overflow: auto;
    text-align: center;
}


#go_logged_out_f{
    position: absolute;
    left: 1150px;
    top:75px;
    font-size: 1.5em;
    border: 1px solid black;
}